<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="http://trustlogfrontend.test.crebos.online/assets/fonts/aerial/stylesheet.css" rel="stylesheet" />
  <title>TrustLog</title>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
    }

  </style>
</head>

<body>
  <table style="
            max-width: 640px;
            margin: 80px auto;
            background-color: #f2f5f8;
            border-spacing: 0px !important;
      " width="640">
    <tbody>
      <tr>
        <td style="padding: 32px">
          <table style="border-spacing: 0px !important">
            <tbody>
              <tr>
                <td style="width: 100%; padding: 24px 32px">
                  <img src="http://trustlogfrontend.test.crebos.online/assets/images/logo-trustlog.png"
                            alt="logo" height="auto" width="150px" />
                </td>
              </tr>
              <tr>
                <td style="background-color: #fff; padding: 32px">
                  <table style="border-spacing: 0px !important">
                    <tbody>
                      <tr>
                        <td>
                          <span style="
                                                                                font-family: 'Arial';
                                                                                font-style: normal;
                                                                                font-weight: 400;
                                                                                font-size: 16px;
                                                                                line-height: 24px;
                                                                                color: #333333;
                              ">
                            Dear <%- name %>,
                            <br><br>

                            Thank you for registering your brand on the TrustLog platform. We are thrilled to have you
                            as part of our community and appreciate your interest in joining our platform.
                            <br><br>

                            We would like to inform you that your brand registration is currently being reviewed by our
                            team. We carefully evaluate each registration to ensure that all brands align with our
                            platform's guidelines and standards. The approval process typically takes
                            2-3 business days, but it may vary depending on the volume of registrations.
                            <br><br>

                            Rest assured, we are working diligently to process your brand registration and will notify
                            you through email once it has been approved. Upon approval, you will gain full access to the
                            TrustLog platform and its features.
                            <br><br>

                            <!-- If you have any questions or need further assistance during this waiting period, please feel
                            free to reach out to our support team at [support email/phone number]. We are here to
                            provide you with any necessary information or support. -->

                            Thank you for your patience and understanding. We value your commitment to TrustLog, and we
                            look forward to partnering with your brand on our platform.
                            <br><br>
                            Best regards,
                            <br><br>
                            TrustLog
                          </span>
                          

                   
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="background-color: #f7f9fc; padding: 32px">
                  <table style="border-spacing: 0px !important">
                    <tbody>
                      <tr>
                        <td style="height: 16px"></td>
                      </tr>
                      <tr>
                        <td style="height: 16px"></td>
                      </tr>
                      <tr>
                        <td>
                          <img src="http://trustlogfrontend.test.crebos.online/assets/images/logo-trustlog.png"
                          alt="logo" height="auto" width="150px" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
