<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="http://trustlogfrontend.test.crebos.online/assets/fonts/aerial/stylesheet.css" rel="stylesheet" />
  <title>TrustLog</title>
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
    }

  </style>
</head>

<body>
  <table style="
            max-width: 640px;
            margin: 80px auto;
            background-color: #f2f5f8;
            border-spacing: 0px !important;
      " width="640">
    <tbody>
      <tr>
        <td style="padding: 32px">
          <table style="border-spacing: 0px !important">
            <tbody>
              <tr>
                <td style="width: 100%; padding: 24px 32px">
                  <img src="http://trustlogfrontend.test.crebos.online/assets/images/logo-trustlog.png"
                            alt="logo" height="auto" width="150px" />
                </td>
              </tr>
              <tr>
                <td style="background-color: #fff; padding: 32px">
                  <table style="border-spacing: 0px !important">
                    <tbody>
                      <tr>
                        <td>
                          <span style="
                                                                                font-family: 'Arial';
                                                                                font-style: normal;
                                                                                font-weight: 400;
                                                                                font-size: 16px;
                                                                                line-height: 24px;
                                                                                color: #333333;
                              ">

                            <p>
                              Dear <%- name %>,
                              <br><br>

                              Thank you for your interest in registering your brand on the TrustLog platform. We
                              appreciate the time and effort you put into the registration process.
                              <br><br>

                              After careful review, we regret to inform you that your brand registration has been
                              declined at this time.
                              <br><br>
                              <!-- We understand that this decision may be disappointing, and we want
                              to provide you with some information regarding the reason for the rejection. -->

                              <!-- [Provide a brief explanation or specific reasons for the rejection, such as not meeting
                              our platform guidelines, incomplete information, or any other relevant details.]

                              We encourage you to review the provided reasons and make any necessary adjustments or
                              updates to your brand information. Once you have addressed the areas of concern, you are
                              welcome to submit a new registration for consideration. We value your brand and would be
                              pleased to reassess your application. -->

                              <!-- If you have any questions or require further clarification regarding the rejection, please
                              do not hesitate to contact our support team at [support email/phone number]. We are here
                              to assist you and provide guidance on how to meet our platform requirements. -->

                              Thank you for your understanding and interest in TrustLog. We appreciate your efforts and
                              hope to see your brand succeed in the future.
                              <br><br>

                              Best regards,<br>
                              TrustLog
                            </p>
                         
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="background-color: #f7f9fc; padding: 32px">
                  <table style="border-spacing: 0px !important">
                    <tbody>
                      <tr>
                        <td style="height: 16px"></td>
                      </tr>
                      <tr>
                        <td style="height: 16px"></td>
                      </tr>
                      <tr>
                        <td>
                          <img src="http://trustlogfrontend.test.crebos.online/assets/images/logo-trustlog.png"
                          alt="logo" height="auto" width="150px" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
